# Dependencies
node_modules
npm-debug.log*

# Next.js
.next/
out/

# Production
build

# Environment variables
.env*

# Git
.git
.gitignore

# Docker
Dockerfile*
docker-compose*

# IDE
.vscode
.idea

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage
coverage/

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

# Misc
README.md